@charset "utf-8";

@font-face {
    font-family: Champagne;
    src: url('cac_champagne.woff') format('woff'),
        url('cac_champagne.ttf') format('truetype');
}

@font-face {
    font-family: Dobkin;
    src: url('DobkinPlain.woff') format('woff'),
        url('DobkinPlain.ttf') format('truetype');
}

/*
   New Perspectives on HTML5 and CSS3, 7th Edition
   Tutorial 2
   Case Problem 4
   
   Great Lakescape Lodge Style Sheet
   Author: Gabriel Torres
   Date:   9/12/18
   
   Filename: lake_styles.css

*/
html {
    background-color: rgb(85, 9, 9);
}

body {
    background-color: rgb(227, 230, 205);
}

p {
    color: black;
}

h1,
h2 {
    color: rgb(51, 4, 82);
    font-family: Cursive, sans-serif, 'Times New Roman';
}


header>nav>ul>li {
    list-style: none;
    background-color: rgba(247, 208, 126, 0.938);
    padding-top: 10px;
    padding-bottom: 10px;
}

nav>ul>li>a {
    text-decoration: none;
    list-style: none
}

footer {
    color: maroon;
    text-align: center;
    background-color: gold;
}

section#rightcol {
    background-color: gold;
}

body>section#rightcol {
    width: 24%;
    float: right;
    margin-right: 0px
}